.toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: linear-gradient(45deg, #800000, #FFD700);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1100;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-btn:hover {
    transform: scale(1.1);
}
.content {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
}
.content h1{
    margin-bottom: 10px;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.faq-item h2 {
    font-size: 1.2rem;
    color: #800000;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item p {
    display: none;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    padding: 10px 0;
}

.faq-item.active p {
    display: block;
}

.faq-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .faq-item h2 {
        font-size: 1rem;
    }

    .faq-item p {
        font-size: 0.9rem;
    }
}