body {
    background: #f8f8f8;
    font-family: Arial, sans-serif;
}

.tracking-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-left: 8px solid #8b0000;
}

h1 {
    text-align: center;
    color: #8b0000;
    margin-bottom: 20px;
}

.info {
    background: #fff8e6;
    padding: 12px;
    border-left: 5px solid #f0ad4e;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 25px;
}

.tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step {
    text-align: center;
    width: 30%;
}

.step p {
    margin-top: 8px;
    font-weight: bold;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #c4c4c4;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
}

.step.active .circle {
    background: #f0ad4e;
}

.step.approved .circle {
    background: green;
}

.step.not-qualified .circle {
    background: red;
}

.line {
    height: 5px;
    width: 15%;
    background: #ccc;
    border-radius: 5px;
}

.line.active {
    background: #f0ad4e;
}

.back-btn {
    display: block;
    margin: 30px auto 0;
    width: 120px;
    text-align: center;
    padding: 10px;
    background: #8b0000;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.back-btn:hover {
    background: #700000;
}
